<a href="https://colab.research.google.com/github/ashrafurrahmanriad/Devoloper_Protfolio/blob/main/Assignment_Day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2.7 Try it yourself: Create a tuple with the latitude and longitude of a famous place in Bangladesh.

# 2.1. Try it yourself: Create variables for your name, age, and favorite color, then print them with descriptive labels.

In [ ]:
Name = "Md Ashrafur Rahman"
Age = 24
Favorite_Color = "Blue"
print(Name)
print(Age)
print(Favorite_Color)

Md Ashrafur Rahman
24
Blue

# 2.2. Try it yourself: Create one variable of each type and use the type() function to verify its type.

In [ ]:
Name = "Md Ashrafur Rahman"
Age = 24
Weight = 24.44
Area =2.3942832382
Favorite_Color = "Blue"
Is_B00leant = True
complex_number = 5 + 3j
result = None
print(type(result))
print(type(complex_number))
print(type(Is_B00leant))
print(type(Area))
print(type(Name))
print(type(Weight))
print(type(Age))
print(type(Favorite_Color))

<class 'complex'>
<class 'bool'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'int'>
<class 'str'>

# 2.3. Try it yourself: Calculate the area and perimeter of a rectangle with length 7 and width 5.

In [ ]:
Length = 7
Width = 5

Area_Of_Rectangle = Length*Width
Perimeter_Of_Rectangle = 2*(Length+Width)
print(Area_Of_Rectangle)
print(Perimeter_Of_Rectangle)

35
24

# 2.4. Try it yourself: Create a list of 5 Bangladeshi foods, then access the first and last elements.

In [ ]:
Food = ["Mango","Banana", "JAckFruit","Black Berry","Berry"]
print (Food)
print(Food[0])
print(Food[-1])

['Mango', 'Banana', 'JAckFruit', 'Black Berry', 'Berry']
Mango
Berry

# 2.5 Try it yourself: Create a list of 5 numbers, add a new number, remove one, and then sort the list.

In [ ]:
Number = [1,2,3,4,5]
print(Number)
Number.append(6)
print(Number)
Number.remove(3)
print(Number)
Number.sort()
print(Number)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 4, 5, 6]
[1, 2, 4, 5, 6]

# 2.6 Try it yourself: Create a dictionary about yourself with at least 4 key-value pairs.

In [ ]:
DIC  = {
"Name":"Md Ashrafur Rahman",
"Location":"KAsba",
"Age":24,
"Education":"BSc in CSE",
}

print(DIC)
print (Name)

{'Name': 'Md Ashrafur Rahman', 'Location': 'KAsba', 'Age': 24, 'Education': 'BSc in CSE'}
Md Ashrafur Rahman

# 2.7 Try it yourself: Create a tuple with the latitude and longitude of a famous place in Bangladesh.

In [ ]:

sundarbans_coordinates = (22.0833, 89.2000)

print(sundarbans_coordinates)

(22.0833, 89.2)

2.8 Try it yourself: Create two sets of colors and find their union and intersection.

In [ ]:

color1 = {"red", "blue", "green", "yellow"}
Color2 = {"blue", "orange", "purple", "red"}

union_color = color1 | Color2
intersection_color = color1 & Color2
print(union_color)
print(intersection_color)

{'orange', 'green', 'purple', 'blue', 'yellow', 'red'}
{'red', 'blue'}

# 2.9 Try it yourself: Write a program that checks if a number is positive, negative, or zero.

In [ ]:
num = float(input("Enter a number: "))
if num > 0:
  print("The number is positive")
elif num < 0:
  print("The number is negative")
else:
  print("The number is zero")

Enter a number: 1
The number is positive

# 2.10 Try it yourself: Write a program that checks eligibility for a discount (student AND under 25, OR senior over 60).

In [6]:
age = float(input("Enter your age: "))
student = input("Are you a student? (yes/no): ")
is_student = student.lower() == "yes"

if (is_student and age < 25) or (age > 60):
  print("You are eligible for a discount.")
else:
  print("You are not eligible for a discount.")

Enter your age: 70
Are you a student? (yes/no): no
You are eligible for a discount.

2.11 Try it yourself: Write a program that prints the first 10 even numbers
# using a for or while loop.

In [ ]:
even_numbers_count = 0
for number in range(0, 20):
  if even_numbers_count < 10:
    if number % 2 == 0:
      print(number)
      even_numbers_count += 1
  else:
    break

0
2
4
6
8
10
12
14
16
18

# 2.12 Try it yourself: Write a program that prints a simple number pyramid pattern using nested loops.

In [ ]:

rows = input("Enter the number of rows: ")
rows = int(rows)

for i in range(1, rows + 1):
  for j in range(1, i + 1):
    print(j, end=" ")
  print()

Enter the number of rows: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# 2.13 Try it yourself: Create a function that converts temperature from Celsius to Fahrenheit using the formula: F = (C × 9/5) + 32

In [4]:
celsius = float(input(" Enter the celsius Number "))
fahrenheit = (celsius * 9/5) + 32
print(fahrenheit)

 Enter the celsius Number 20
68.0

# Create a function with default parameters that calculates the area of a rectangle.

In [12]:
def calculate_rectangle_area(length=10.0, width=5.0):
  area = length * width
  return area